@import url("/src/assets/fonts/fonts.css");
@import url("/src/assets/colors/colors.css");

.staticticsButton {
  font-family: "Kontora", sans-serif;
  font-weight: 400;
  font-size: 25px;
  height: 58px;
  width: 168px;
  box-sizing: border-box;
  border: var(--blueColor) 2px solid;
  border-radius: 25px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.staticticsButton--inactive {
  background: var(--blueColor);
  color: var(--whiteColor);
  box-shadow: none;
}

.staticticsButton--inactive:hover {
  background: var(--blueHoverColor);
  border: var(--blueHoverColor) 2px solid;
}

.staticticsButton--active {
  background: var(--whiteColor);
  color: var(--blueColor);
  box-shadow: 0px 0px 4px 2px var(--blueColor);
}
