.titleWithAddButton {
  display: flex;
  align-items: center; /* КЛЮЧЕВО */
  gap: 12px;
}

.titleWithAddButton__title {
  font-size: 55px;
  font-weight: 700;
  color: var(--blueColor);
  margin: 0;
  line-height: 1.1; /* НЕ 1 */
}

/* КНОПКА */
.titleWithAddButton__iconButton {
  width: 35px;
  height: 35px;

  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  /* ВАЖНО */
  align-self: center;
}

.titleWithAddButton__iconButton img {
  width: 35px;
  height: 35px;
}

.titleWithAddButton__iconButton:hover {
  opacity: 0.7;
}
