@import url("/src/assets/fonts/fonts.css");
@import url("/src/assets/colors/colors.css");

/* ====== Общая обёртка ====== */
.footer {
  width: 100%;
  margin-top: 50px;
}

/* ====== Фон на всю ширину ====== */
.footer__fullwidth-bg {
  width: 100%;
  background-color: var(--blueColor);
  color: var(--whiteColor);
}

/* ====== Центрирующий слой ====== */
.footer__centered-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ====== Ограничение ширины ====== */
.footer__container {
  width: 100%;
  max-width: 1366px;
  box-sizing: border-box;
}

/* ====== Контент ====== */
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 33px 0 30px 0;
}

/* ====== Логотип ====== */
.footer__logo {
  margin-left: 29px;
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  cursor: pointer;
}

.footer__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ====== Инфо-блок ====== */
.footer__info-wrapper {
  margin-right: 56px;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: var(--whiteColor);
}

/* ====== Копирайт ====== */
.footer__copyright {
  font-family: "Kontora", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding: 17px 29px;
  margin: 0;
}
